@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  overflow-x: hidden;
}

@layer utilities {
  .container_page {
    @apply mx-auto w-[90%] max-w-[1440px] md:w-[85%] print:w-full;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'black';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Black.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Bold.ttf');
}
@font-face {
  font-family: 'semibold';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-DemiBold.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Regular.ttf');
}

@font-face {
  font-family: 'light';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Light.ttf');
}

@font-face {
  font-family: 'reqular';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Regular.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Medium.ttf');
}

.custom_sidebar_category::-webkit-scrollbar-thumb {
  background-color: #dd338b;
  border-radius: 10px;
}

.custom_sidebar_category::-webkit-scrollbar-track {
  background-color: #fce7f5;
  border-radius: 10px;
}

.custom_sidebar::-webkit-scrollbar {
  width: 10px;
}

.custom_sidebar::-webkit-scrollbar-thumb {
  background-color: #dd338b;
  border-radius: 10px;
}

.custom_sidebar::-webkit-scrollbar-track {
  background-color: #fce7f5;
  border-radius: 10px;
}

.custom_scroll_gallery::-webkit-scrollbar {
  height: 7px;
}

.custom_scroll_gallery::-webkit-scrollbar-thumb {
  background-color: #dd338b;
  border-radius: 10px;
}

.custom_scroll_gallery::-webkit-scrollbar-track {
  background-color: #fce7f5;
  border-radius: 10px;
}

.loader {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 100rem;
  border: 3px solid white;
  background: conic-gradient(from 180deg at 50% 50%, #dd338b 0deg, rgba(173, 173, 173, 0) 360deg);
  animation: animate 1s linear infinite;
}

.loader::before {
  position: absolute;
  content: '';
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 100rem;
  border: 3px solid white;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.custom_pagination .swiper-pagination-bullets {
  background-image: url('../../public/images/bg_pagination.png');
  @apply !-bottom-0 !left-1/2 !hidden h-[36px] !w-[227px] !-translate-x-1/2 bg-cover lg:!block;
}

.custom_pagination .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply !mt-4 !h-[12px] !w-[12px] rounded-full bg-[#f6cce2];
}

.custom_pagination .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply !w-[45px] rounded-full bg-[#DD338B];
}

.container_categries .swiper-pagination-bullets {
  @apply !-bottom-0 !left-1/2 h-[36px] !w-[227px] !-translate-x-1/2 bg-cover;
}

.container_categries .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply !mt-4 !h-[12px] !w-[12px] rounded-full bg-[#E4E7E9];
}

.container_categries .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply !w-[45px] rounded-full bg-[#DD338B];
}

.bg_brand {
  background: linear-gradient(
    90deg,
    rgba(238, 20, 132, 0) 0%,
    #880b4b 50%,
    rgba(238, 20, 132, 0) 100%
  );
}

.bg_subCategory {
  background: linear-gradient(90deg, #e4e7e9 0%, #484d56 50%, #e4e7e9 100%);
}

.jpeg-layer::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.shadow_menu_bottom {
  box-shadow:
    3px 1px 6px 0px #0000001a,
    11px 3px 11px 0px #00000017,
    24px 7px 15px 0px #0000000d,
    43px 12px 18px 0px #00000003,
    67px 19px 20px 0px #00000000;
}

.container_filter hr {
  @apply hidden;
}

.container_accordion_filter hr {
  @apply hidden;
}

.container_category hr {
  @apply hidden;
}

.container_accordin_single_product hr {
  @apply hidden;
}

.bg_btn_next {
  background: linear-gradient(270deg, #f5f6fa -37.16%, #ffffff 94.93%);
}

.border-x-\[calc\(theme\(spacing\.6\)\/2\)\] {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  /* دو ستون با عرض مساوی */
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    /* همیشه 2 ستون */
  }
}

.container_des_category strong {
  @apply !text-[#DD338B];
}

.container_des_category h1 {
  @apply py-4 font-bold !text-[23m];
}

/* معمولاً 32px */
.container_des_category h2 {
  @apply py-4 !font-bold text-[1.5em];
}

/* معمولاً 24px */
.container_des_category h3 {
  @apply py-4 font-bold text-[1.17em];
}

/* معمولاً 18.72px */
.container_des_category h4 {
  @apply py-4 font-bold text-[1];
}

/* معمولاً 16px */
.container_des_category h5 {
  @apply py-4 font-bold text-[0.83em];
}

/* معمولاً 13.28px */
.container_des_category h6 {
  @apply py-4 font-bold text-[0.67em];
}

.container_des_category * {
  @apply !text-justify;
}

.container_des_category img {
  @apply mx-auto my-5 !rounded-xl;
}

.bg_mag_card {
  background: linear-gradient(
    0deg,
    rgba(12, 12, 12, 0.9) 0%,
    rgba(12, 12, 12, 0.81) 23.57%,
    rgba(12, 12, 12, 0) 100%
  );
}

.select-menu-list {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}

.loading-indicator {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.container_select {
  scrollbar-width: thin !important;
}
/* .css-1dyz3mf{
  @apply !flex-nowrap !overflow-auto
}
.css-1dyz3mf  .select-value-product{
@apply !min-w-[40px] !w-[40px]
}
.css-1dyz3mf .css-1p3m7a8-multiValue{
@apply !min-w-[60px] !w-[60px]
} */
.container_select div {
  @apply !cursor-pointer;
}

/* print*/

main p {
  direction: rtl;
  text-align: left;
}

main .rose-invoice-table p {
  text-align: right;
  margin: 8px 0;
}

main .rose-invoice-table p.text-center {
  text-align: center;
  margin: 0;
}

.bar-code {
  font-family: barcode;
  font-size: 48px !important;
  display: inline-block;
}

.print {
  background-color: #84b32b;
  border: 0px solid #bbb;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
  height: 22px;
  width: fit-content;
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-top: 7px;
  text-align: center;
}

.rose-invoice-table-header {
  text-align: center;
  width: 100%;
  border: 0;
  margin-bottom: 0;
  direction: rtl;
}

.rose-invoice-table {
  border: 1px dashed black;
  width: 100%;
  direction: rtl;
}

.rose-invoice-table th {
  text-align: right;
}

.rose-invoice-table-footer {
  text-align: center;
  width: 100%;
  border: 0;
  margin-bottom: 0;
  margin-top: 4mm;
  direction: rtl;
}

.rotate {
  max-width: 6.5cm;
  margin: auto auto;
  padding: 0;
}

@media print {
  .print,
  footer,
  .rose-invoice-table-footer {
    display: none !important;
  }

  .pagebreak {
    page-break-before: always;
  }

  .no-page-break {
    page-break-after: avoid;
  }

  @page {
    margin: 0;
  }

  .filter {
    filter: grayscale(1);
  }
}

/* datepicker */
.container_datepicker .rmdp-week .rmdp-week-day {
  @apply !text-[#DD338B];
}
.container_datepicker .rmdp-selected .sd {
  @apply !bg-[#DD338B] !text-white;
}
.container_datepicker .rmdp-week * {
  @apply !text-[#616A76];
}
.container_datepicker .rmdp-header-values * {
  @apply !text-[#616A76];
}
.container_datepicker .rmdp-today .sd {
  @apply !bg-[#DD338B] bg-opacity-65 !font-medium !text-white;
}

.container_datepicker .rmdp-arrow-container {
  @apply !bg-[#DD338B] bg-opacity-30;
}

.bg_common_question {
  background: linear-gradient(360deg, #ffffff 0%, #fbcfeb 100%);
}

.rmdp-arrow-container {
  @apply flex items-center justify-center;
}
.rmdp-arrow-container .rmdp-arrow {
  @apply !-mt-px block border-white;
}

.custom_sidebar_category::-webkit-scrollbar {
  width: 3px;
}

.basedialog {
  overflow-y: auto !important;
}

* {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}
