@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  overflow-x: hidden;
}

@layer utilities {
  .container_page {
    @apply mx-auto w-[90%] max-w-[1440px] md:w-[85%] print:w-full;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'black';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Black.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Bold.ttf');
}
@font-face {
  font-family: 'semibold';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-DemiBold.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Regular.ttf');
}

@font-face {
  font-family: 'light';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Light.ttf');
}

@font-face {
  font-family: 'reqular';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Regular.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('../../public/fonts/IranSansX/Farsi/IRANSansXFaNum-Medium.ttf');
}
