@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-[14px];
}
body {
  direction: rtl;
  @apply overflow-x-hidden bg-white;
}

@layer utilities {
  .container_page {
    @apply mx-auto w-[90%] max-w-[1440px] md:w-[90%] print:w-full;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.loader {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 100rem;
  border: 3px solid white;
  background: conic-gradient(from 180deg at 50% 50%, #6e3dff 0deg, rgba(173, 173, 173, 0) 360deg);
  animation: animate 1s linear infinite;
}

.loader::before {
  position: absolute;
  content: '';
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 100rem;
  border: 3px solid white;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@font-face {
  font-family: 'black';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Black.ttf');
}
@font-face {
  font-family: 'extrablack';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-ExtraBlack.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Bold.ttf');
}

@font-face {
  font-family: 'extrabold';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-ExtraBold.ttf');
}
@font-face {
  font-family: 'heavy';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Heavy.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Regular.ttf');
}

@font-face {
  font-family: 'light';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Light.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Medium.ttf');
}

@font-face {
  font-family: 'demibold';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-DemiBold.ttf');
}
@font-face {
  font-family: 'thin';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-Thin.ttf');
}

@font-face {
  font-family: 'ultralight';
  src: url('../../public/fonts/IRANYekanX/Farsinumerals/IRANYekanXFaNum-UltraLight.ttf');
}
.custom_pagination .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply !mt-4 !h-[10px] !w-[10px] rounded-full bg-main bg-opacity-40;
}

.custom_pagination .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply !h-[10px] !w-[45px] !rounded-full bg-main;
}

.custom-style {
  grid-area: 1 / 1 / 2 / 3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: hsl(0, 0%, 20%);
  margin-right: 2px;
  box-sizing: border-box;
}

.custom_border {
  display: inline-block;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffffff 9.34%, rgba(142, 152, 168, 0) 73.63%);
  border-image-slice: 1;
}

hr {
  @apply !hidden;
}

.bg_blur_blog {
  backdrop-filter: blur(15px);
}

.custom_pagination_blog .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply !h-[3px] !w-[40px] rounded-none bg-white bg-opacity-20;
}

.custom_pagination_blog .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply !w-[40px] rounded-full bg-main;
}
.container_des_category table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ececec;
}

.container_des_category table th,
.container_des_category table td {
  border: 1px solid #ececec;
  padding: 8px;
  text-align: left;
}

.container_des_category a {
  @apply !text-main;
}

.container_des_category h1 {
  @apply py-4 font-extrabold !text-[23m] dark:text-white;
}

/* معمولاً 32px */
.container_des_category h2 {
  @apply py-4 !font-extrabold text-[1.5em] dark:text-white;
}

/* معمولاً 24px */
.container_des_category h3 {
  @apply py-4 font-bold text-[1.17em] dark:text-white;
}

/* معمولاً 18.72px */
.container_des_category h4 {
  @apply py-4 font-bold text-[1] dark:text-white;
}

/* معمولاً 16px */
.container_des_category h5 {
  @apply py-4 font-bold text-[0.83em] dark:text-white;
}

/* معمولاً 13.28px */
.container_des_category h6 {
  @apply py-4 font-bold text-[0.67em] dark:text-white;
}

.container_des_category * {
  @apply !text-justify;
}

.drop_shadow_singleBlog {
  box-shadow: 0px 30px 50px 0px #0000000a;
}

.drop_shadow_cart {
  box-shadow: -2px 2px 15px -1px #7171711f;
}

.drop_shadow_faq {
  box-shadow: 0px 2px 32px 0px #1c1c1c0f;
}

.bg-faq {
  background-image: url('../../public/images/faq-desktop.png');
}

.bg-contact-us {
  @apply bg-[url('../../public/images/bg-contactus.jpg')] lg:bg-[url('../../public/images/bg-contact-us.png')];
}

.custom-volume::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
  border: none;
}

.custom-volume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: none;
}

.custom-volume::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: none;
}

/* برای حذف استایل پیش‌فرض برخی مرورگرها */
.custom-volume::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}
.custom-volume::-moz-range-track {
  background: transparent;
  border: none;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #fff;
  font-family: light !important;
}
